POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=({% for le in powerlevel9k_left_prompt_elements %}{{le}} {% endfor %})
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=({% for re in powerlevel9k_right_prompt_elements %}{{re}} {% endfor %})
POWERLEVEL9K_PROMPT_ADD_NEWLINE="{{powerlevel9k_prompt_add_newline}}"
POWERLEVEL9K_IP_INTERFACE="{{ansible_default_ipv4.device}}"
POWERLEVEL9K_MODE="{{powerlevel9k_mode}}"
