POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(
  dir
  vcs
  newline
  status
)

POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(date ip)
POWERLEVEL9K_PROMPT_ADD_NEWLINE=true
POWERLEVEL9K_IP_INTERFACE='{{ansible_default_ipv4.device}}'
POWERLEVEL9K_MODE='nerdfont-complete'
